<header>
    <div class="logotype">Подбор банковских карт</div>
    <div class="user-profile">
        <h1>{{userName}}</h1>
        <button class="login-button" (click)="logout()">Выйти</button>
    </div>
</header>
<main>
    <div class="tabs-container">
        <div class="tab-item"
             [ngClass]="{'active-tab': isFirstTab,}"
        (click)="toggleTab()">Операции</div>
        <div class="tab-item"
             [ngClass]="{'active-tab': !isFirstTab,}"
             (click)="toggleTab()"
             >Карты</div>
    </div>
    <div class="tab-container">
        @if(isFirstTab){
            <h1>Содержимое первой вкладки</h1>
        } @else {
            <user-card-list></user-card-list>
        }
    </div>
</main>