<header>
    <div class="logotype">Подбор банковских карт</div>
    <button class="login-button red-rounded-link">Войти</button>
</header>

<main>
    <div class="project-info">
        <div class="about-project">
            <h1>Наш сервис</h1>
            <p >Интернет-сервис по подбору банковских карт, исходя из данных о
                тратах пользователя. Основная идея проекта заключается в поиске наиболее
                подходящих банковских продуктов, рассчитанных индивидуально для каждого человека.</p>
        </div>
        <div class="image-container">
            <div class="card-images"></div>
        </div>
    </div>
    <div class="select-button-container">
        <button class="select-card-button">Подобрать карты</button>
        <h2>О НАС</h2>
    </div>
    <div class="about-us">
        <div class="project-participants">
            <ul>
                <li>Кориков Павел – backend-разработчик.</li>
                <li>Заленский Андрей – backend-разработчик.</li>
                <li>Шодиев Мусо – frontend-разработчик.</li>
                <li>Андрияшкин Степан – frontend-разработчик.</li>
                <li>Петрик Яна – системный аналитик.</li>
            </ul>
        </div>
        <div class="links">
            <ul>
                <li><a href="https://drive.google.com/drive/folders/1Xj86KgOgrMaUsvTyWp6KddiGzsd88SXg">Ссылка на документацию</a></li>
                <li><a href="https://github.com/Mcore-01/pbk-front">Ссылка на репозиторий Frontend</a></li>
                <li><a href="https://github.com/zalanddmi/pbk-back">Ссылка на репозиторий Backend</a></li>
            </ul>
        </div>
    </div>
</main>

<footer>
    <h3>2024</h3>
</footer>