:host{
    display: flex;
    color: white;
    height: 100%;
}
header{
    background-color: rgb(25, 28, 28);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    flex-direction: column;
    width: 10vw;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
a:hover{
    background-color: rgb(59, 66, 66);
}

nav a.active {
    color: #86cec2;
}

.logout-button{
    text-align: right;
}