<header>
    <div>
        <h1>Таблицы</h1>
        <nav>
            <a routerLink="/operator/bank" routerLinkActive="active">Банки</a>
            <a routerLink="/operator/shop" routerLinkActive="active">Магазины</a>
            <a routerLink="/operator/category" routerLinkActive="active">Категории карт</a>
            <a routerLink="/operator/card" routerLinkActive="active">Карты</a>
        </nav>
    </div>


    <button class="logout-button" mat-icon-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</header>
<router-outlet></router-outlet>