:host{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-control-table{
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    padding: 20px;
}

.search-field{
    width: 20vw;
}

.paginator{
    margin: 10px 30px;
}