<app-modal (isBackgroundClicked)="closeDialog($event)">

    <div class="add-form">
        <mat-form-field class="field-data">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Введите название карты" [(ngModel)]="data.name">
        </mat-form-field>

        <mat-form-field class="field-data">
            <mat-label>Банк</mat-label>
            <input type="text" matInput [formControl]="bankControl" [matAutocomplete]="autoBank">
            <mat-autocomplete #autoBank="matAutocomplete" [displayWith]="displayMemberBank" (optionSelected)="optionSelectedBank($event)">
                @for (option of filteredBank | async; track option) {
                    <mat-option [value]="option">{{option.name}}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="field-data">
            <mat-label>Тип карты</mat-label>
            <mat-select [formControl]="typeCardControl" (selectionChange)="optionSelectedTypeCard($event)">
                @for (option of typeCards; track option) {
                    <mat-option [value]="option">{{option.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <cashback-list
                [cashbacks]="data.cashbacks" (updateCashbacks)="updateCashbacks($event)">
        </cashback-list>
        <div class="control-form-button">
            <button mat-flat-button color="primary" (click)="saveCardData()">Сохранить</button>
            <button mat-flat-button color="primary" (click)="dialogRef.close()">Отмена</button>
        </div>
    </div>

</app-modal>