<modal (isBackgroundClicked)="closeDialog($event)">
    <div class="add-form">
        <mat-form-field class="field-data">
            <mat-label>Название торговой точки</mat-label>
            <input matInput placeholder="Введите название торговой точки" [(ngModel)]="data.name">
        </mat-form-field>

            <mat-form-field class="field-data">
                <mat-label>МСС</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="optionSelected($event)">
                    @for (option of filteredMCC | async; track option) {
                        <mat-option [value]="option">{{getDisplayName(option)}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

        <div class="control-form-button">
            <button mat-flat-button color="primary" (click)="closeDialog(data)">Сохранить</button>
            <button mat-flat-button color="primary" (click)="dialogRef.close()">Отмена</button>
        </div>
    </div>
</modal>
