<div class="user-card-container">
    <table>
        <thead>
        <tr>
            <th>Карта</th>
            <th>Банк</th>
            <th>Тип карты</th>
        </tr>
        </thead>
        <tbody>
            @for(card of userCards; track card){
                <tr>
                    <td>{{card.card.displayName}}</td>
                    <td>{{card.bank.displayName}}</td>
                    <td>{{card.typeCard.displayName}}</td>
                </tr>
            }

      <!--  <tr>
            <td class="td-adding">
                <mat-form-field class="add-user-card">
                <mat-label>Карта</mat-label>
                <input matInput placeholder="Введите название карты">
                </mat-form-field>
            </td>
            <td class="td-adding">
                <mat-form-field class="add-user-card">
                    <mat-label>Банк</mat-label>
                    <input matInput placeholder="Введите название банк">
                </mat-form-field>
            </td>
            <td class="td-adding">
                <mat-form-field class="add-user-card">
                    <mat-label>Тип карту</mat-label>
                    <input matInput placeholder="Введите тип карты">
                </mat-form-field>
            </td>
        </tr>-->
        </tbody>
    </table>
</div>