<form #authForm = "ngForm" (ngSubmit)="authorize(authForm)">
    <div class="input-container">
        <label>логин/почта/тел</label>
        <input  name = "login" ngModel required>
    </div>
    <div class="input-container">
        <label>пароль</label>
        <input  name = "password" ngModel required>
    </div>

    <h3 class="blue-label">Забыли пароль</h3>
    <a routerLink="/reg">восстановить аккаунт</a>

    <button type="submit" [disabled]="authForm.invalid">Вход</button>

    <h3 class="blue-label">Если у вас еще нет аккаунта</h3>
    <a routerLink="/reg">регистрация</a>
</form>
<div class="login-error" *ngIf="isInvalidLogin"><p>{{errorMessage}}</p></div>
<div class="password-error" *ngIf="isInvalidPassword"><p>{{errorMessage}}</p></div>